@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: white;
  --secondary: rgb(22, 22, 22);
  --ternary: rgb(228, 228, 228);
}

body {
  font-family: "Poppins";
}

.navbar {
  width: 100%;
  height: 5vh;
  background: var(--secondary);
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0px -4px 20px var(--secondary);
  top: 0px;
  position: sticky;
}

.options {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.container-horizontal {
  display: flex;
}

.square {
  border: 1px solid white;
  height: 200px;
  width: 200px;
  background: var(--ternary);
  cursor: pointer;
  transition: 0.3s all ease;
  font-family: inherit;
  font-size: 1.5rem;
}

.square:hover {
  background: var(--secondary);
  color: var(--primary);
  font-size: 2rem;
}

.border-radius-top-right {
  border-top-right-radius: 20px;
}

.border-radius-top-left {
  border-top-left-radius: 20px;
}

.border-radius-bottom-left {
  border-bottom-left-radius: 20px;
}

.border-radius-bottom-right {
  border-bottom-right-radius: 20px;
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: var(--ternary);
  border: 1px solid var(--secondary);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  height: 1px;
  border-radius: 50px;
}

/* ScrollBar */

/* Quiz Start*/
.main-quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  margin: 5rem auto 2rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.q-and-a {
  margin: 2rem 0;
  padding: 1rem;
  height: 20vh;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background: var(--ternary);
  box-shadow: 10px 0px 20px rgb(190, 190, 190);
  border-radius: 10px;
}

.question {
  padding: 0.5rem;
  font-size: 1.2rem;
}

.mcq {
  font-size: 0.8rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30vh;
}

.submit-btn {
  font-family: inherit;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  background: var(--primary);
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 20px;
}

.submit-btn:hover {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  color: var(--primary);
  background: var(--secondary);
}

.score {
  width: 7rem;
  text-align: center;
  font-size: 1.5rem;
  margin: 20px;
  padding: 0.2rem 0.4rem;
  border: 1px solid var(--secondary);
  border-radius: 4px;
}

/* Quiz End */

/* Hypotenuse Start */
.hyp-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  padding-top: 10vh;
}

.number-input {
  padding: 0.3rem;
}

.hypotenuse-form {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.result-hypotenuse {
  width: 10rem;
  text-align: center;
  font-size: 1.5rem;
  margin: 20px;
  padding: 0.2rem 0.4rem;
  border: 1px solid var(--secondary);
  border-radius: 4px;
}

/* Hypotenuse End */

/* Angles  Start*/

.result-angles {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px;
  padding: 0.2rem 0.4rem;
}

.angles-form {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Angles  End*/

/* Area Start */
.area-form {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.result-area {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px;
  padding: 0.2rem 0.4rem;
}
/* Area End */

@media screen and (max-width: 660px) {
  .q-and-a {
    max-width: 400px;
    min-height: 100px;
  }
  .options {
    max-width: 400px;
    min-height: 100px;
  }

  .square {
    text-align: center;
    height: 100px;
    width: 100px;
    font-size: 0.9rem;
  }

  .square:hover {
    background: var(--secondary);
    color: var(--primary);
    font-size: 1rem;
  }
}

@media screen and (max-width: 460px) {
  .options {
    max-width: 200px;
  }

  .mcq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .square {
    height: 100px;
    width: 100px;
    font-size: 0.9rem;
  }

  .q-and-a {
    max-width: 250px;
    min-height: 180px;
  }

  .square:hover {
    background: var(--secondary);
    color: var(--primary);
    font-size: 1rem;
  }
}
